Housekeeping

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy.optimize import fsolve
import itertools
from astropy.table import Table

from f_detrend import detrend_fuction

sn.set_style('whitegrid')
%matplotlib inline
%load_ext autoreload
%autoreload 2

Auxiliary functions

In [2]:
# Expanded and modified version (first column now string)
def read_table(filename,keyword='ciclo',rescale=1,ncols=5,start=2,end_row='Total',
               endword=None,omit_list=['t20_21'],index_to_int=True,debug=False):
    t0 = start
    t1 = ncols+start
    results_follow = 0
    row_names = []
    interaction = 0
    f = open(filename,'r')
    for line in f:
        words = line.split()
        if debug:
            print(words)
        if len(words)>1 and words[0] == keyword:
            results_follow=1
            if endword==None:
                colnames = words[t0:t1]
            else:
                buff_v = []
                for w in words[t0:]:
                    if w==endword:
                        break
                    else:
                        buff_v.append(w)
                colnames = buff_v[:-1]
                t1 = len(buff_v)+t0-1
            table_raw = np.empty(t1-t0)
        elif len(words)>1 and words[0] == end_row:
            break
        elif len(words) == 1:
            interaction = 0
            i_count = 0
        elif len(words)>1 and results_follow==1: # and words[0] not in omit_list
            if len(words)==2 and words[1]=="|":
                var_name = words[0]
                interaction = 1
                i_count = 0
            else:
                if interaction==0:
                    row_names.append(words[0])
                else:
                    if words[1]=='|':
                        if var_name+"_"+words[0] in row_names:
                            new_name = var_name+"_"+str(int(words[0])+1)
                        else:
                            new_name = var_name+"_"+words[0]
                        row_names.append(new_name)  
                    else:
                        if var_name+"_"+words[1] in row_names:
                            new_name = var_name+"_"+str(int(words[1])+1)
                        else:
                            new_name = var_name+"_"+words[1]
                        row_names.append(new_name)  
                
                if words[2]=='|':
                    t00= t0+1
                    t11 = t1+1
                else:
                    t00 = t0
                    t11 = t1

                buff_v = []
                for w in words[t00:t11]: 
                    w = w.replace(",","")
                    buff_v.append(w)
                table_raw = np.vstack((table_raw,np.array(buff_v,dtype=float)/rescale))
    table_raw = table_raw[1:,:]
    if debug:
        print(table_raw.shape)
        print(colnames)
    if index_to_int:
        return pd.DataFrame(table_raw, columns=colnames,index=np.array(row_names,dtype=int))
    else:
        return pd.DataFrame(table_raw, columns=colnames,index=np.array(row_names))
    
    
def read_descriptive_stats(filename,keyword_data,keyword_col,ncols,rownames,start=2,debug=False):
    t0 = start
    t1 = ncols+start
    table_raw = np.empty(t1-t0)
    f = open(filename,'r')
    for line in f:
        words = line.split()
        if debug:
            print(words)
        if len(words)>1 and words[0] == keyword_data:
            buff_v = []
            for w in words[t0:t1]: 
                w = w.replace(",","")
                buff_v.append(w)
            table_raw = np.vstack((table_raw,np.array(buff_v,dtype=float)))
        elif len(words)>1 and words[0] == keyword_col:
            colnames = words[t0:t1]

    return pd.DataFrame(table_raw[1:,:], columns=colnames, index=rownames)
 
    
def file_split(filename,path,startwords=['Summary',],endword="Total",header=None,Noobs=False):
    f = open(path+filename,'r')
    parent_file = filename[:filename.find('.')]
    di = 1
    R2s = []
    writing = 0
    for line in f:
        words = line.split()
        if len(words)>0 and 'Number' in words:
            noobs = words[-1]
        if len(words)>0 and 'R2' in words:
            R2s.append(words[-1])
        if len(words)>0 and words[0] in startwords:
            sf = open(path+parent_file+'_{}.log'.format(di), "w")
            writing = 1
            if header!=None:
                sf.write(header)
        elif len(words)>0 and words[0]==endword and writing:
            sf.write(line)
            writing = 0
            sf.close()
            di+=1
        if writing:
            sf.write(line)
    if Noobs==True:
        return (noobs,R2s)
            
def normalise_table(table):
    cols = table.columns
    table['Total'] = table.sum(axis=1).copy()
    for col in cols:
        table[col] = table[col]/table['Total']
    return table

In [100]:
dates = []
for year in range(1987,2023):
    for quarter in range(1,5):
        dates.append(str(year)+"Q"+str(quarter))
dates = dates[1:]

t0 = 59
t05 = 71
T = len(dates)
date_dict = dict(zip(range(t0,T+t0),dates))
date_dict_reverse = dict(zip(dates,range(0,T)))
date_dict_reverse_ciclo = dict(zip(dates,range(t0,T+t0)))

time_periods_thin = []
for y in range(2006,2022):
    time_periods_thin.append(str(y))
    
time_periods = ["t08_11", "t11_14", "t14_17", "t17_20", "t20","t21"]
period_labels = ['2008-2011','2011-2014','2014-2017','2017-2020','2020','2021']
    
def rename_interaction(tab,int_subs):
    tab_chunk_1 = tab.iloc[0:7].copy()
    tab_chunk_2 = tab.iloc[7:].copy()
    tab_chunk_1.rename(index=int_subs,inplace=True)
    tab = pd.concat((tab_chunk_1,tab_chunk_2))
    return tab

In [172]:
sex = ['women','men']
states=['Permanent','Non-participant']
mx = pd.MultiIndex.from_product((states,sex))

names = ['perm','inac']
labs = ['w','m']
All_tabs = {}

for name in names:
    for lab in labs:
        coefs_par_a3040_p10 = []
        std_par_a3040_p10 = []

        obs = []
        cc = 130
        f = open('./regtabs/prob_{}_stocks_{}_age3040_parent_10_agefix_cohab.log'.format(name,lab),'r')
        for line in f:
            words = line.split()
        #     print(words)
            if len(words)>1 and 'Number' in words:
        #         print(words)
                obs.append(int(words[-1].replace(',','')))
            if len(words)>0 and 'parent_10'==words[0]:
                coefs_par_a3040_p10.append(np.round(float(words[2]),4))
                std_par_a3040_p10.append("("+str(np.round(float(words[3]),4))+")")

        bounds_par_a3040_p10 = np.array(bounds_par_a3040_p10)
        std_par_a3040_p10 = np.array(std_par_a3040_p10)
        obs = np.array(obs)

        tab = np.round(pd.DataFrame(np.vstack((coefs_par_a3040_p10,std_par_a3040_p10,obs)),columns=dates[t05:],
                                    index=[r'$\beta_1$',"std",'N']),4)

        All_tabs[name+"_"+lab] = tab

In [173]:
export_tab = pd.concat(All_tabs.values(),axis=0,keys=mx).T
export_tab_final = export_tab.loc['2018Q1':,:].copy()
export_tab_final.head()

       Permanent                                           Non-participant  \
           women                       men                           women
       $\beta_1$       std     N $\beta_1$       std     N       $\beta_1$
2018Q1    0.9715    (0.08)  4959    1.1289  (0.0946)  4615          1.2699
2018Q2    1.0039   (0.085)  4900    1.2691  (0.1057)  4599           1.724
2018Q3    0.9793  (0.0816)  4874    1.2925  (0.1079)  4543          1.4256
2018Q4    0.9514  (0.0786)  5042    1.1127  (0.0923)  4591          2.1991
2019Q1    1.0758  (0.0872)  5074    1.1564  (0.0983)  4589          1.6624


                             men
             std     N $\beta_1$       std     N
2018Q1   (0.227)  4922    0.7293  (0.2231)  4429
2018Q2  (0.3724)  4804    0.8774  (0.2706)  4599
2018Q3  (0.2741)  4771    0.8012  (0.2523)  4412
2018Q4   (0.459)  5042    0.5748  (0.1776)  4592
2019Q1  (0.3139)  5074    0.5717  (0.1699)  4363

In [176]:
export_tab_final.to_latex('./tables/Prob_all.tex',escape=False,
                          column_format='l|ccc|ccc|ccc|ccc',multicolumn='c')

C:\Users\lafuentemart\AppData\Local\Temp\ipykernel_9976\3581822973.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  export_tab_final.to_latex('./tables/Prob_all.tex',escape=False,

In [ ]:
from astropy.table import Table

all_tabs = []

all_names = ['mothers0k','fathers0k']
formal_names = [ "Women ","Men "]

for name in all_names:
    tab = Table.read('./regtabs/tex/prob_perm_stocks_w_age3040_parent_10_agefix_cohab.tex'.format(name)).to_pandas()
    tab = tab.set_index('col0')
    tab.rename(columns=dict(zip(tab.keys(),[i.replace('Parents,',"") for i in tab.keys()])),inplace=True)
    all_tabs.append(tab)
    
Btab = pd.concat(all_tabs,axis=1,keys=(formal_names))

Btab.index = [str(i).replace("nan","") for i in Btab.index]

Btab.to_latex('./tables/qtregs_3040_agefix_0k.tex',escape=False)

In [125]:
Table.read('./regtabs/tex/prob_perm_stocks_m_age3040_parent_10_agefix_cohab.tex').to_pandas()

InconsistentTableError: Lines in LaTeX table have to end with \\

In [119]:
full_tab = pd.read_csv('./regtabs/tex/prob_perm_stocks_w_age3040_parent_10_agefix_cohab.csv',index_col=0)
full_tab.rename(columns=dict(zip(full_tab.keys(),[int(k.replace('="',"").replace(')"',"").replace('(',"")) for k in full_tab.keys()])),inplace=True)

YY = (2022-2017)*4
T = full_tab.shape[1]
full_tab = full_tab.T
full_tab = full_tab.loc[T-YY+1:,:]
full_tab = full_tab.T
full_tab

,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72
"=""""",,,,,,,,,,,,,,,,,,,,
"=""""","=""permanent""","=""permanent""","=""permanent""","=""permanent""","=""permanent""","=""permanent""","=""permanent""","=""permanent""","=""permanent""","=""permanent""","=""permanent""","=""permanent""","=""permanent""","=""permanent""","=""permanent""","=""permanent""","=""permanent""","=""permanent""","=""permanent""","=""permanent"""
"=""permanent""","=""""","=""""","=""""","=""""","=""""","=""""","=""""","=""""","=""""","=""""","=""""","=""""","=""""","=""""","=""""","=""""","=""""","=""""","=""""","="""""
"=""0.act""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1"""
"=""""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)"""
"=""1.act""","=""8.651***""","=""11.32***""","=""7.952***""","=""6.484***""","=""7.853***""","=""12.60***""","=""8.108***""","=""6.171***""","=""5.597***""","=""4.663***""","=""8.763***""","=""5.133***""","=""13.72***""","=""4.574***""","=""5.411***""","=""2.691*""","=""3.416**""","=""3.012**""","=""3.536**""","=""3.478**"""
"=""""","=""(3.145)""","=""(4.162)""","=""(2.733)""","=""(2.163)""","=""(2.578)""","=""(4.125)""","=""(2.752)""","=""(2.208)""","=""(2.056)""","=""(1.763)""","=""(3.521)""","=""(1.778)""","=""(5.125)""","=""(1.734)""","=""(2.331)""","=""(1.124)""","=""(1.454)""","=""(1.171)""","=""(1.374)""","=""(1.331)"""
"=""2.act""","=""12.87***""","=""12.30***""","=""9.805***""","=""10.45***""","=""11.25***""","=""11.41***""","=""8.560***""","=""7.517***""","=""9.338***""","=""6.365***""","=""12.84***""","=""11.89***""","=""16.39***""","=""6.866***""","=""8.238***""","=""9.673***""","=""7.344***""","=""6.118***""","=""7.716***""","=""7.965***"""
"=""""","=""(5.117)""","=""(4.850)""","=""(3.666)""","=""(3.953)""","=""(4.277)""","=""(4.241)""","=""(3.129)""","=""(2.855)""","=""(3.720)""","=""(2.629)""","=""(5.716)""","=""(4.918)""","=""(7.468)""","=""(2.925)""","=""(3.501)""","=""(4.540)""","=""(3.525)""","=""(2.890)""","=""(3.624)""","=""(3.450)"""
"=""3.act""","=""8.811***""","=""8.632***""","=""5.795***""","=""5.698***""","=""4.472***""","=""9.484***""","=""5.379***""","=""5.272***""","=""6.148***""","=""5.651***""","=""9.257***""","=""6.071***""","=""13.64***""","=""5.999***""","=""8.806***""","=""8.048***""","=""11.75***""","=""9.930***""","=""7.765***""","=""5.151***"""
"=""""","=""(3.452)""","=""(3.444)""","=""(2.139)""","=""(2.110)""","=""(1.648)""","=""(3.602)""","=""(2.045)""","=""(1.969)""","=""(2.515)""","=""(2.364)""","=""(3.983)""","=""(2.334)""","=""(5.576)""","=""(2.528)""","=""(4.281)""","=""(3.958)""","=""(5.821)""","=""(5.349)""","=""(3.723)""","=""(2.450)"""
"=""4.act""","=""7.627***""","=""7.674***""","=""5.739***""","=""3.068**""","=""4.978***""","=""5.500***""","=""4.602***""","=""3.950**""","=""3.662*""","=""3.209*""","=""4.142**""","=""3.139*""","=""7.379***""","=""2.404""","=""4.395**""","=""4.727**""","=""6.362**""","=""5.401**""","=""2.926*""","=""6.384**"""
"=""""","=""(3.523)""","=""(3.387)""","=""(2.530)""","=""(1.327)""","=""(2.007)""","=""(2.202)""","=""(1.996)""","=""(1.833)""","=""(1.846)""","=""(1.753)""","=""(2.216)""","=""(1.608)""","=""(4.317)""","=""(1.210)""","=""(2.343)""","=""(2.644)""","=""(3.594)""","=""(2.881)""","=""(1.495)""","=""(4.424)"""
"=""5.act""","=""6.910***""","=""8.488***""","=""5.449***""","=""4.365***""","=""4.069***""","=""5.332***""","=""3.529***""","=""3.235***""","=""4.051***""","=""3.119***""","=""6.156***""","=""4.601***""","=""9.300***""","=""3.443***""","=""5.058***""","=""3.998***""","=""3.828***""","=""3.458***""","=""3.011***""","=""2.354**"""
"=""""","=""(2.202)""","=""(2.774)""","=""(1.612)""","=""(1.268)""","=""(1.146)""","=""(1.470)""","=""(1.010)""","=""(0.980)""","=""(1.330)""","=""(1.039)""","=""(2.189)""","=""(1.399)""","=""(2.982)""","=""(1.087)""","=""(1.745)""","=""(1.453)""","=""(1.395)""","=""(1.171)""","=""(0.981)""","=""(0.759)"""
"=""6.act""","=""11.29***""","=""12.11***""","=""5.764***""","=""6.354***""","=""7.396***""","=""7.585***""","=""3.972***""","=""3.701***""","=""4.218***""","=""2.657**""","=""4.950***""","=""5.278***""","=""12.12***""","=""3.405**""","=""5.057***""","=""4.530***""","=""3.789**""","=""4.135***""","=""5.652***""","=""3.096**"""
"=""""","=""(4.106)""","=""(4.577)""","=""(1.995)""","=""(2.166)""","=""(2.481)""","=""(2.487)""","=""(1.364)""","=""(1.324)""","=""(1.589)""","=""(1.001)""","=""(1.986)""","=""(1.876)""","=""(4.649)""","=""(1.279)""","=""(2.058)""","=""(1.895)""","=""(1.608)""","=""(1.612)""","=""(2.207)""","=""(1.212)"""
"=""7.act""","=""8.299***""","=""8.139***""","=""4.806***""","=""4.818***""","=""5.322***""","=""5.471***""","=""3.892***""","=""3.276***""","=""3.765***""","=""3.087***""","=""4.998***""","=""3.935***""","=""6.915***""","=""2.909***""","=""4.897***""","=""4.288***""","=""3.440***""","=""3.095**""","=""3.471***""","=""2.685**"""
"=""""","=""(2.673)""","=""(2.722)""","=""(1.468)""","=""(1.447)""","=""(1.545)""","=""(1.555)""","=""(1.150)""","=""(1.028)""","=""(1.271)""","=""(1.048)""","=""(1.815)""","=""(1.221)""","=""(2.233)""","=""(0.931)""","=""(1.730)""","=""(1.593)""","=""(1.282)""","=""(1.067)""","=""(1.184)""","=""(0.900)"""
"=""8.act""","=""5.849***""","=""6.375***""","=""4.316***""","=""4.290***""","=""3.722***""","=""3.787***""","=""2.524**""","=""2.074*""","=""2.924**""","=""2.013*""","=""3.646***""","=""3.106***""","=""5.922***""","=""2.448**""","=""3.117**""","=""2.755**""","=""2.885**""","=""2.710**""","=""2.406**""","=""2.023*"""
"=""""","=""(1.910)""","=""(2.158)""","=""(1.323)""","=""(1.292)""","=""(1.096)""","=""(1.082)""","=""(0.747)""","=""(0.649)""","=""(0.991)""","=""(0.695)""","=""(1.344)""","=""(0.980)""","=""(1.956)""","=""(0.787)""","=""(1.108)""","=""(1.020)""","=""(1.079)""","=""(0.941)""","=""(0.808)""","=""(0.676)"""
"=""9.act""","=""6.547***""","=""7.059***""","=""4.617***""","=""4.167***""","=""4.570***""","=""4.422***""","=""3.177***""","=""2.799**""","=""3.732***""","=""2.518**""","=""4.825***""","=""3.552***""","=""7.425***""","=""2.644**""","=""4.531***""","=""2.973**""","=""2.061""","=""1.556""","=""1.686""","=""1.699"""
"=""""","=""(2.127)""","=""(2.356)""","=""(1.411)""","=""(1.264)""","=""(1.348)""","=""(1.282)""","=""(0.962)""","=""(0.894)""","=""(1.274)""","=""(0.876)""","=""(1.791)""","=""(1.150)""","=""(2.522)""","=""(0.886)""","=""(1.630)""","=""(1.135)""","=""(0.794)""","=""(0.572)""","=""(0.592)""","=""(0.596)"""
"=""1.occ""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1"""
"=""""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)"""
"=""2.occ""","=""1.541""","=""1.940*""","=""2.086**""","=""2.199***""","=""1.316""","=""1.044""","=""1.078""","=""1.749*""","=""1.267""","=""1.065""","=""1.107""","=""0.985""","=""1.241""","=""1.376""","=""2.086*""","=""1.450""","=""0.960""","=""0.706""","=""1.218""","=""1.190"""
"=""""","=""(0.396)""","=""(0.504)""","=""(0.528)""","=""(0.526)""","=""(0.291)""","=""(0.248)""","=""(0.273)""","=""(0.427)""","=""(0.293)""","=""(0.266)""","=""(0.284)""","=""(0.283)""","=""(0.359)""","=""(0.461)""","=""(0.679)""","=""(0.494)""","=""(0.323)""","=""(0.213)""","=""(0.347)""","=""(0.352)"""
"=""3.occ""","=""1.560""","=""1.834*""","=""1.694""","=""1.653""","=""1.220""","=""0.978""","=""1.199""","=""1.878*""","=""1.398""","=""1.276""","=""1.421""","=""1.494""","=""2.029*""","=""1.727""","=""2.099*""","=""1.758""","=""1.225""","=""0.906""","=""1.289""","=""1.490"""
"=""""","=""(0.425)""","=""(0.507)""","=""(0.459)""","=""(0.426)""","=""(0.293)""","=""(0.251)""","=""(0.326)""","=""(0.493)""","=""(0.350)""","=""(0.343)""","=""(0.393)""","=""(0.456)""","=""(0.632)""","=""(0.605)""","=""(0.735)""","=""(0.639)""","=""(0.443)""","=""(0.315)""","=""(0.414)""","=""(0.484)"""
"=""4.occ""","=""2.228**""","=""2.594***""","=""3.159***""","=""3.343***""","=""1.786*""","=""1.291""","=""1.218""","=""2.192**""","=""1.725*""","=""1.476""","=""1.550""","=""1.118""","=""1.754""","=""2.036*""","=""3.387***""","=""2.311*""","=""1.777""","=""1.183""","=""1.798""","=""1.872*"""
"=""""","=""(0.581)""","=""(0.685)""","=""(0.818)""","=""(0.824)""","=""(0.405)""","=""(0.314)""","=""(0.316)""","=""(0.546)""","=""(0.413)""","=""(0.377)""","=""(0.410)""","=""(0.331)""","=""(0.528)""","=""(0.702)""","=""(1.125)""","=""(0.793)""","=""(0.610)""","=""(0.374)""","=""(0.549)""","=""(0.584)"""
"=""5.occ""","=""1.068""","=""1.356""","=""1.290""","=""1.372""","=""0.962""","=""0.789""","=""0.653""","=""1.027""","=""0.812""","=""0.657""","=""0.653""","=""0.671""","=""0.849""","=""0.902""","=""1.224""","=""1.162""","=""0.887""","=""0.572""","=""0.855""","=""1.207"""
"=""""","=""(0.276)""","=""(0.355)""","=""(0.328)""","=""(0.333)""","=""(0.216)""","=""(0.192)""","=""(0.170)""","=""(0.253)""","=""(0.193)""","=""(0.169)""","=""(0.176)""","=""(0.201)""","=""(0.251)""","=""(0.307)""","=""(0.397)""","=""(0.395)""","=""(0.301)""","=""(0.181)""","=""(0.255)""","=""(0.365)"""
"=""6.occ""","=""1.708""","=""1.229""","=""0.483""","=""0.424""","=""0.637""","=""0.443""","=""0.245*""","=""0.418""","=""0.175*""","=""0.0785*""","=""1""","=""0.361""","=""1.051""","=""0.415""","=""0.320""","=""0.363""","=""0.307""","=""0.447""","=""0.513""","=""0.337"""
"=""""","=""(0.990)""","=""(0.705)""","=""(0.365)""","=""(0.251)""","=""(0.375)""","=""(0.285)""","=""(0.168)""","=""(0.274)""","=""(0.149)""","=""(0.0857)""","=""(.)""","=""(0.236)""","=""(0.680)""","=""(0.300)""","=""(0.230)""","=""(0.285)""","=""(0.262)""","=""(0.312)""","=""(0.324)""","=""(0.226)"""
"=""7.occ""","=""0.425*""","=""0.472*""","=""0.412*""","=""0.738""","=""0.521""","=""0.252***""","=""0.247***""","=""0.329**""","=""0.468*""","=""0.313**""","=""0.428*""","=""0.501""","=""0.753""","=""0.828""","=""1.386""","=""1.364""","=""0.523""","=""0.292**""","=""0.582""","=""0.615"""
"=""""","=""(0.150)""","=""(0.162)""","=""(0.146)""","=""(0.261)""","=""(0.178)""","=""(0.0892)""","=""(0.0922)""","=""(0.118)""","=""(0.163)""","=""(0.116)""","=""(0.169)""","=""(0.203)""","=""(0.317)""","=""(0.409)""","=""(0.671)""","=""(0.610)""","=""(0.250)""","=""(0.121)""","=""(0.235)""","=""(0.247)"""
"=""8.occ""","=""0.801""","=""1.096""","=""0.858""","=""0.729""","=""0.533""","=""0.317***""","=""0.437*""","=""0.694""","=""0.629""","=""0.593""","=""0.425*""","=""0.313**""","=""0.577""","=""0.646""","=""1.202""","=""1.789""","=""0.823""","=""0.401*""","=""0.424*""","=""0.522"""
"=""""","=""(0.279)""","=""(0.397)""","=""(0.299)""","=""(0.238)""","=""(0.175)""","=""(0.108)""","=""(0.155)""","=""(0.241)""","=""(0.208)""","=""(0.210)""","=""(0.161)""","=""(0.125)""","=""(0.226)""","=""(0.284)""","=""(0.526)""","=""(0.866)""","=""(0.376)""","=""(0.169)""","=""(0.173)""","=""(0.217)"""
"=""9.occ""","=""0.668""","=""0.846""","=""0.761""","=""0.736""","=""0.514**""","=""0.418***""","=""0.326***""","=""0.484**""","=""0.441**""","=""0.421**""","=""0.456**""","=""0.396**""","=""0.611""","=""0.671""","=""0.824""","=""0.693""","=""0.442*""","=""0.338**""","=""0.515*""","=""0.755"""
"=""""","=""(0.178)""","=""(0.230)""","=""(0.202)""","=""(0.187)""","=""(0.121)""","=""(0.107)""","=""(0.0888)""","=""(0.126)""","=""(0.110)""","=""(0.114)""","=""(0.129)""","=""(0.125)""","=""(0.190)""","=""(0.239)""","=""(0.284)""","=""(0.248)""","=""(0.158)""","=""(0.113)""","=""(0.165)""","=""(0.241)"""
"=""public_servant""","=""0.866""","=""0.777""","=""0.712**""","=""0.626***""","=""0.667**""","=""0.741*""","=""0.818""","=""0.763*""","=""0.899""","=""1.082""","=""0.852""","=""0.648**""","=""0.670**""","=""0.486***""","=""0.649**""","=""0.623**""","=""0.566***""","=""0.436***""","=""0.634**""","=""0.635**"""
"=""""","=""(0.113)""","=""(0.101)""","=""(0.0924)""","=""(0.0803)""","=""(0.0844)""","=""(0.0920)""","=""(0.103)""","=""(0.0990)""","=""(0.121)""","=""(0.151)""","=""(0.119)""","=""(0.0914)""","=""(0.0993)""","=""(0.0765)""","=""(0.108)""","=""(0.105)""","=""(0.0915)""","=""(0.0699)""","=""(0.0976)""","=""(0.102)"""
"=""parent_10""","=""0.967""","=""1.001""","=""0.970""","=""0.945""","=""1.066""","=""1.041""","=""0.975""","=""0.926""","=""1.000""","=""0.908""","=""1.087""","=""1.009""","=""0.944""","=""1.140""","=""0.874""","=""0.731**""","=""0.621***""","=""0.587***""","=""0.621***""","=""0.797*"""
"=""""","=""(0.0794)""","=""(0.0846)""","=""(0.0806)""","=""(0.0780)""","=""(0.0862)""","=""(0.0847)""","=""(0.0813)""","=""(0.0796)""","=""(0.0883)""","=""(0.0846)""","=""(0.102)""","=""(0.0965)""","=""(0.0942)""","=""(0.122)""","=""(0.0995)""","=""(0.0848)""","=""(0.0684)""","=""(0.0655)""","=""(0.0682)""","=""(0.0853)"""
"=""part_time""","=""1.361***""","=""1.131""","=""1.169""","=""1.447***""","=""1.365***""","=""1.270**""","=""1.518***""","=""1.398***""","=""1.499***""","=""1.821***""","=""1.660***""","=""1.238*""","=""1.378**""","=""1.174""","=""1.271""","=""1.268""","=""1.457**""","=""1.835***""","=""1.584***""","=""1.781***"""
"=""""","=""(0.123)""","=""(0.100)""","=""(0.107)""","=""(0.129)""","=""(0.118)""","=""(0.111)""","=""(0.142)""","=""(0.130)""","=""(0.142)""","=""(0.195)""","=""(0.179)""","=""(0.129)""","=""(0.153)""","=""(0.135)""","=""(0.166)""","=""(0.156)""","=""(0.173)""","=""(0.239)""","=""(0.200)""","=""(0.225)"""
"=""college""","=""1.183""","=""1.203""","=""1.285*""","=""1.203""","=""1.301**""","=""1.363**""","=""1.065""","=""1.063""","=""1.052""","=""1.053""","=""1.047""","=""0.974""","=""1.208""","=""1.221""","=""1.093""","=""1.270""","=""1.262""","=""1.018""","=""0.906""","=""1.326*"""
"=""""","=""(0.113)""","=""(0.118)""","=""(0.128)""","=""(0.119)""","=""(0.129)""","=""(0.136)""","=""(0.108)""","=""(0.109)""","=""(0.111)""","=""(0.120)""","=""(0.123)""","=""(0.119)""","=""(0.146)""","=""(0.156)""","=""(0.147)""","=""(0.167)""","=""(0.162)""","=""(0.135)""","=""(0.119)""","=""(0.177)"""
"=""erte""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1.858""","=""1.756***""","=""0.795""","=""0.462**""","=""0.412***""","=""0.609""","=""0.538""","=""0.511""","=""0.173*""","=""0.401""","=""1""","=""1"""
"=""""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(0.748)""","=""(0.241)""","=""(0.182)""","=""(0.127)""","=""(0.0980)""","=""(0.256)""","=""(0.374)""","=""(0.331)""","=""(0.142)""","=""(0.357)""","=""(.)""","=""(.)"""
"=""30.age""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1"""
"=""""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)"""
"=""35.age""","=""1.238**""","=""1.274**""","=""1.310***""","=""1.388***""","=""1.411***""","=""1.189*""","=""1.321***""","=""1.462***""","=""1.352***""","=""1.348***""","=""1.198*""","=""1.136""","=""1.161""","=""1.220*""","=""1.301*""","=""1.490***""","=""1.530***""","=""1.299*""","=""1.303**""","=""1.109"""
"=""""","=""(0.0917)""","=""(0.0957)""","=""(0.0983)""","=""(0.102)""","=""(0.103)""","=""(0.0880)""","=""(0.1000)""","=""(0.113)""","=""(0.107)""","=""(0.112)""","=""(0.102)""","=""(0.0986)""","=""(0.106)""","=""(0.120)""","=""(0.136)""","=""(0.153)""","=""(0.154)""","=""(0.133)""","=""(0.130)""","=""(0.108)"""
"=""N""","=""4959""","=""4900""","=""4874""","=""5042""","=""5074""","=""5028""","=""4869""","=""4767""","=""4553""","=""4194""","=""4013""","=""3985""","=""3740""","=""3471""","=""3278""","=""3320""","=""3327""","=""3375""","=""3297""","=""3250"""
"=""Exponentiated coefficients; Standard errors in parentheses""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"=""* p<0.05",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
P_coef = int(np.where(full_tab.index=='="parent_10"')[0])
coef_tab = full_tab.iloc[P_coef:-2,:]
coef_tab.iloc[0,:] = [n.replace('="','').replace('"','') for n in coef_tab.iloc[0,:] ]
coef_tab.iloc[1,:] = [n.replace('="','').replace('"','') for n in coef_tab.iloc[1,:].values ]

C:\Users\lafuentemart\AppData\Local\Temp\ipykernel_9976\3012171688.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coef_tab.iloc[0,:] = [n.replace('="','').replace('"','') for n in coef_tab.iloc[0,:] ]
C:\Users\lafuentemart\AppData\Local\Temp\ipykernel_9976\3012171688.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coef_tab.iloc[1,:] = [n.replace('="','').replace('"','') for n in coef_tab.iloc[1,:].values ]

In [122]:
TT =len(dates)

coef_tab.rename(columns=dict(zip(coef_tab,dates[TT-YY:])),
                index=dict(zip(coef_tab.index,[n.replace('="','').replace('"','') for n in coef_tab.index ])))

,2018Q1,2018Q2,2018Q3,2018Q4,2019Q1,2019Q2,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4,2022Q1,2022Q2,2022Q3,2022Q4
"=""""",,,,,,,,,,,,,,,,,,,,
parent_10,0.967,1.001,0.970,0.945,1.066,1.041,0.975,0.926,1.000,0.908,1.087,1.009,0.944,1.140,0.874,0.731**,0.621***,0.587***,0.621***,0.797*
,(0.0794),(0.0846),(0.0806),(0.0780),(0.0862),(0.0847),(0.0813),(0.0796),(0.0883),(0.0846),(0.102),(0.0965),(0.0942),(0.122),(0.0995),(0.0848),(0.0684),(0.0655),(0.0682),(0.0853)
part_time,"=""1.361***""","=""1.131""","=""1.169""","=""1.447***""","=""1.365***""","=""1.270**""","=""1.518***""","=""1.398***""","=""1.499***""","=""1.821***""","=""1.660***""","=""1.238*""","=""1.378**""","=""1.174""","=""1.271""","=""1.268""","=""1.457**""","=""1.835***""","=""1.584***""","=""1.781***"""
,"=""(0.123)""","=""(0.100)""","=""(0.107)""","=""(0.129)""","=""(0.118)""","=""(0.111)""","=""(0.142)""","=""(0.130)""","=""(0.142)""","=""(0.195)""","=""(0.179)""","=""(0.129)""","=""(0.153)""","=""(0.135)""","=""(0.166)""","=""(0.156)""","=""(0.173)""","=""(0.239)""","=""(0.200)""","=""(0.225)"""
college,"=""1.183""","=""1.203""","=""1.285*""","=""1.203""","=""1.301**""","=""1.363**""","=""1.065""","=""1.063""","=""1.052""","=""1.053""","=""1.047""","=""0.974""","=""1.208""","=""1.221""","=""1.093""","=""1.270""","=""1.262""","=""1.018""","=""0.906""","=""1.326*"""
,"=""(0.113)""","=""(0.118)""","=""(0.128)""","=""(0.119)""","=""(0.129)""","=""(0.136)""","=""(0.108)""","=""(0.109)""","=""(0.111)""","=""(0.120)""","=""(0.123)""","=""(0.119)""","=""(0.146)""","=""(0.156)""","=""(0.147)""","=""(0.167)""","=""(0.162)""","=""(0.135)""","=""(0.119)""","=""(0.177)"""
erte,"=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1.858""","=""1.756***""","=""0.795""","=""0.462**""","=""0.412***""","=""0.609""","=""0.538""","=""0.511""","=""0.173*""","=""0.401""","=""1""","=""1"""
,"=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(0.748)""","=""(0.241)""","=""(0.182)""","=""(0.127)""","=""(0.0980)""","=""(0.256)""","=""(0.374)""","=""(0.331)""","=""(0.142)""","=""(0.357)""","=""(.)""","=""(.)"""
30.age,"=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1""","=""1"""
,"=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)""","=""(.)"""
35.age,"=""1.238**""","=""1.274**""","=""1.310***""","=""1.388***""","=""1.411***""","=""1.189*""","=""1.321***""","=""1.462***""","=""1.352***""","=""1.348***""","=""1.198*""","=""1.136""","=""1.161""","=""1.220*""","=""1.301*""","=""1.490***""","=""1.530***""","=""1.299*""","=""1.303**""","=""1.109"""
,"=""(0.0917)""","=""(0.0957)""","=""(0.0983)""","=""(0.102)""","=""(0.103)""","=""(0.0880)""","=""(0.1000)""","=""(0.113)""","=""(0.107)""","=""(0.112)""","=""(0.102)""","=""(0.0986)""","=""(0.106)""","=""(0.120)""","=""(0.136)""","=""(0.153)""","=""(0.154)""","=""(0.133)""","=""(0.130)""","=""(0.108)"""
N,"=""4959""","=""4900""","=""4874""","=""5042""","=""5074""","=""5028""","=""4869""","=""4767""","=""4553""","=""4194""","=""4013""","=""3985""","=""3740""","=""3471""","=""3278""","=""3320""","=""3327""","=""3375""","=""3297""","=""3250"""

In [89]:
coef_tab.rename(columns=dict(zip()))

,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72
"=""""",,,,,,,,,,,,,,,,,
"=""parent_10""",0.945,1.066,1.041,0.975,0.926,1.000,0.908,1.087,1.009,0.944,1.140,0.874,0.731**,0.621***,0.587***,0.621***,0.797*
"=""""",(0.0780),(0.0862),(0.0847),(0.0813),(0.0796),(0.0883),(0.0846),(0.102),(0.0965),(0.0942),(0.122),(0.0995),(0.0848),(0.0684),(0.0655),(0.0682),(0.0853)

In [9]:
IoI = []
std_idx = []
for i,idx in enumerate(tab.index):
    if str(idx)!="nan" and idx not in tab.index[-2:]:        
        IoI.append(idx)
        std_idx.append(i+1)
tab_dummies_std_f=tab.iloc[std_idx,:].copy()
tab_dummies_std_f['coefs'] = IoI
tab_dummies_std_f.set_index('coefs',inplace=True)
tab_dummies_f=tab.loc[IoI,:].copy()
tab_dummies_f

,"Parents, 25th pctl","Parents, 50th pctl","Parents, 75th pctl"
col0,,,
$\beta_0$,$-0.212$,$1.516^{***}$,$6.298^{***}$
Tenure Partner,$0.246^{***}$,$0.320^{***}$,$0.118^{***}$
Tenure \ Partner$^{2}$,$-0.007^{***}$,$-0.005^{***}$,$0.004^{***}$
Part Time,$-1.873^{***}$,$-3.817^{***}$,$-4.302^{***}$
College,$0.966^{***}$,$0.460^{***}$,$-1.225^{***}$
Less than High-school,$-0.653^{***}$,$-1.727^{***}$,$-2.587^{***}$
Partner age,$0.032^{***}$,$0.061^{***}$,$0.096^{***}$
Partner self-employed,$-0.019$,$-0.020$,$0.298^{***}$
Partner College,$0.576^{***}$,$0.729^{***}$,$0.215^{***}$
Partner less than High-school,$-0.190^{***}$,$-0.804^{***}$,$-1.822^{***}$
$\delta_{2008-2011}$,$-0.069$,$0.041$,$-0.202^{***}$
$\delta_{2011-2014}$,$0.443^{***}$,$0.536^{***}$,$-0.118$
$\delta_{2014-2017}$,$-0.111^{**}$,$0.315^{***}$,$-0.216^{***}$
$\delta_{2017-2020}$,$-0.401^{***}$,$0.102$,$-0.085$
$\delta_{2020}$,$-0.337^{***}$,$-0.267^*$,$0.128$
$\delta_{2021}$,$-0.172^{**}$,$-0.120$,$0.564^{***}$
$\delta_{2022}$,$0.004$,$-0.206$,$0.230$
Age $>$ 35,$0.585^{***}$,$1.766^{***}$,$2.696^{***}$

In [12]:
def join_regtable(coefs, stds):
    cols= coefs.keys()
    #     print(cols)
    New_tab = coefs[cols[0]]
    New_tab = pd.concat((New_tab.rename(cols[0][18:]),stds[cols[0]].rename(cols[0][18:]+'_std')),axis=1)
    for name in cols[1:]:
        New_tab = pd.concat((New_tab,coefs[name].rename(name[18:]),stds[name].rename(name[18:]+'_std')),axis=1)
    return New_tab

In [13]:
join_regtable(tab_dummies_f.T, tab_dummies_std_f.T)

,,_std,,_std,{2}$,{2}$_std,,_std,,_std,...,}$,}$_std,,_std,,_std,,_std,,_std
"Parents, 25th pctl",$-0.212$,(0.1490),$0.246^{***}$,(0.0132),$-0.007^{***}$,(0.0009),$-1.873^{***}$,(0.0510),$0.966^{***}$,(0.0441),...,$-0.401^{***}$,(0.0490),$-0.337^{***}$,(0.0741),$-0.172^{**}$,(0.0803),$0.004$,(0.0883),$0.585^{***}$,(0.0389)
"Parents, 50th pctl",$1.516^{***}$,(0.2298),$0.320^{***}$,(0.0173),$-0.005^{***}$,(0.0010),$-3.817^{***}$,(0.0722),$0.460^{***}$,(0.0548),...,$0.102$,(0.0908),$-0.267^*$,(0.1389),$-0.120$,(0.1575),$-0.206$,(0.1413),$1.766^{***}$,(0.0586)
"Parents, 75th pctl",$6.298^{***}$,(0.2888),$0.118^{***}$,(0.0192),$0.004^{***}$,(0.0011),$-4.302^{***}$,(0.1856),$-1.225^{***}$,(0.0564),...,$-0.085$,(0.0892),$0.128$,(0.1062),$0.564^{***}$,(0.1302),$0.230$,(0.1431),$2.696^{***}$,(0.0712)

In [ ]:

all_data = [tab_dummies_f.T,tab_dummies_f_21.T,tab_dummies_f_22.T]
all_stds = [tab_dummies_std_f.T,tab_dummies_std_f_21.T,tab_dummies_std_f_22.T]

One_tab = {}
for i in range(3):
    coefs, stds = all_data[i], all_stds[i]
    cols= coefs.keys()
#     print(cols)
    New_tab = coefs[cols[0]]
    New_tab = pd.concat((New_tab.rename(cols[0][18:]),stds[cols[0]].rename(cols[0][18:]+'_std')),axis=1)
    for name in cols[1:]:
        New_tab = pd.concat((New_tab,coefs[name].rename(name[18:]),stds[name].rename(name[18:]+'_std')),axis=1)
        
    One_tab[2020+i] = New_tab.T.copy()
    
Final_tab = pd.concat((One_tab[2020]['Parents, 25th pctl'].rename("2020"),
           One_tab[2021]['Parents, 25th pctl'].rename("2021"),
          One_tab[2022]['Parents, 25th pctl'].rename("2022")),axis=1)

for ind in Final_tab.index[1::2]:
    Final_tab.rename({ind:""}, inplace=True)
Final_tab.replace({np.nan:'--'}, inplace=True)

Final_tab2 = pd.concat((One_tab[2020]['Parents, 50th pctl'].rename("2020"),
           One_tab[2021]['Parents, 50th pctl'].rename("2021"),
          One_tab[2022]['Parents, 50th pctl'].rename("2022")),axis=1)

for ind in Final_tab2.index[1::2]:
    Final_tab2.rename({ind:""}, inplace=True)
Final_tab2.replace({np.nan:'--'}, inplace=True)

Final_tab3 = pd.concat((One_tab[2020]['Parents, 75th pctl'].rename("2020"),
           One_tab[2021]['Parents, 75th pctl'].rename("2021"),
          One_tab[2022]['Parents, 75th pctl'].rename("2022")),axis=1)

for ind in Final_tab3.index[1::2]:
    Final_tab3.rename({ind:""}, inplace=True)
Final_tab3.replace({np.nan:'--'}, inplace=True)

Final_final_tab = pd.concat((Final_tab,Final_tab2,Final_tab3),axis=1,keys=['25th percentile','50th percentile','75th percentile'])
print(Final_final_tab.to_latex(escape=False))
Final_final_tab.to_latex('./tables/qtregs_ind_3040_basic_text.tex',escape=False)

In [11]:
Btab.to_latex?

In [13]:
all_tabs = []

all_names = ['5','10','15']
formal_names = [ "Children younger than 5","Children younger than 10","Children younger than 15"]

for name in all_names:
    tab = Table.read('./regtabs/sqtreg_advanced_age3035_{}_covid.tex'.format(name)).to_pandas()
    tab = tab.set_index('col0')
    tab.rename(columns=dict(zip(tab.keys(),[i.replace('Parents,',"") for i in tab.keys()])),inplace=True)
    all_tabs.append(tab)
    
Btab = pd.concat(all_tabs,axis=1,keys=(formal_names))

Btab.index = [str(i).replace("nan","") for i in Btab.index]
Btab.to_latex('./tables/sqtreg_advanced_age3035_all_covid.tex',escape=False,column_format='l|ccc|ccc|ccc',multicolumn_format='c')
Btab

C:\Users\lafuentemart\AppData\Local\Temp\ipykernel_7808\2110688521.py:15: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  Btab.to_latex('./tables/sqtreg_advanced_age3035_all_covid.tex',escape=False,column_format='l|ccc|ccc|ccc',multicolumn_format='c')

                                       Children younger than 5  \
                                                     25th pctl
$\delta_{2020}$ x occ group 1                         $-0.246$
                                                      (0.1809)
$\delta_{2020}$ x occ group 2                          $0.306$
                                                      (0.3648)
$\delta_{2020}$ x occ group 3                    $0.687^{***}$
...                                                        ...
                                                      (0.2879)
$\delta_{2022}$ x occ group 5 x female          $-0.361^{***}$
                                                      (0.1214)
N                                                      130,977
Pseudo $R^2$                                            0.0353

                                                                        \
                                             50th pctl       75th pctl
$\delta_{2020}$ x occ group 1                 $-0.309$  $-1.645^{***}$
                                              (0.2111)        (0.5313)
$\delta_{2020}$ x occ group 2                 $-0.410$        $-0.781$
                                              (0.4249)        (0.7141)
$\delta_{2020}$ x occ group 3                  $0.282$        $-0.016$
...                                                ...             ...
                                              (0.5703)        (0.7177)
$\delta_{2022}$ x occ group 5 x female  $-2.645^{***}$  $-1.681^{***}$
                                              (0.5797)        (0.5556)
N                                              130,977         130,977
Pseudo $R^2$                                    0.0426          0.0291

                                       Children younger than 10  \
                                                      25th pctl
$\delta_{2020}$ x occ group 1                          $-0.249$
                                                       (0.3055)
$\delta_{2020}$ x occ group 2                           $0.090$
                                                       (0.3826)
$\delta_{2020}$ x occ group 3                     $0.692^{***}$
...                                                         ...
                                                       (0.1943)
$\delta_{2022}$ x occ group 5 x female            $-0.343^{**}$
                                                       (0.1716)
N                                                       136,192
Pseudo $R^2$                                             0.0355

                                                                        \
                                             50th pctl       75th pctl
$\delta_{2020}$ x occ group 1                 $-0.277$  $-1.532^{***}$
                                              (0.2264)        (0.5133)
$\delta_{2020}$ x occ group 2                 $-0.423$        $-0.857$
                                              (0.4635)        (0.5847)
$\delta_{2020}$ x occ group 3                  $0.306$         $0.131$
...                                                ...             ...
                                              (0.7332)        (0.8030)
$\delta_{2022}$ x occ group 5 x female  $-2.871^{***}$   $-1.112^{**}$
                                              (0.5309)        (0.4593)
N                                              136,192         136,192
Pseudo $R^2$                                    0.0446          0.0306

                                       Children younger than 15  \
                                                      25th pctl
$\delta_{2020}$ x occ group 1                          $-0.249$
                                                       (0.1877)
$\delta_{2020}$ x occ group 2                           $0.093$
                                                       (0.3261)
$\delta_{2020}$ x occ group 3                     $0.680^{***}$
...                                                         ...
                                                       (0.2342)
$\delta_{2022}$ x occ group 5 x female            $-0.337^{**}$
                                                       (0.1521)
N                                                       136,505
Pseudo $R^2$                                             0.0354


                                             50th pctl   75th pctl
$\delta_{2020}$ x occ group 1                 $-0.258$  $-1.534^*$
                                              (0.2298)    (0.8216)
$\delta_{2020}$ x occ group 2                 $-0.401$    $-0.867$
                                              (0.4264)    (0.5603)
$\delta_{2020}$ x occ group 3                  $0.345$     $0.135$
...                                                ...         ...
                                              (0.5053)    (1.0136)
$\delta_{2022}$ x occ group 5 x female  $-2.823^{***}$    $-1.042$
                                              (0.6092)    (0.6836)
N                                              136,505     136,505
Pseudo $R^2$                                    0.0445      0.0306

[62 rows x 9 columns]

In [14]:
all_tabs = []

all_names = ['5','10','15']
formal_names = [ "Children younger than 5","Children younger than 10","Children younger than 15"]

for name in all_names:
    tab = Table.read('./regtabs/sqtreg_advanced_age3540_{}_covid.tex'.format(name)).to_pandas()
    tab = tab.set_index('col0')
    tab.rename(columns=dict(zip(tab.keys(),[i.replace('Parents,',"") for i in tab.keys()])),inplace=True)
    all_tabs.append(tab)
    
Btab = pd.concat(all_tabs,axis=1,keys=(formal_names))

Btab.index = [str(i).replace("nan","") for i in Btab.index]
Btab.to_latex('./tables/sqtreg_advanced_age3540_all_covid.tex',escape=False,column_format='l|ccc|ccc|ccc',multicolumn_format='c')
Btab

C:\Users\lafuentemart\AppData\Local\Temp\ipykernel_7808\1293831293.py:15: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  Btab.to_latex('./tables/sqtreg_advanced_age3540_all_covid.tex',escape=False,column_format='l|ccc|ccc|ccc',multicolumn_format='c')

                                       Children younger than 5  \
                                                     25th pctl
$\delta_{2020}$ x occ group 1                   $-0.998^{***}$
                                                      (0.2864)
$\delta_{2020}$ x occ group 2                         $-0.038$
                                                      (0.2106)
$\delta_{2020}$ x occ group 3                    $1.212^{***}$
...                                                        ...
                                                      (0.4155)
$\delta_{2022}$ x occ group 5 x female          $-1.530^{***}$
                                                      (0.3134)
N                                                      250,030
Pseudo $R^2$                                            0.0428

                                                                        \
                                             50th pctl       75th pctl
$\delta_{2020}$ x occ group 1           $-1.162^{***}$         $0.358$
                                              (0.4407)        (0.2215)
$\delta_{2020}$ x occ group 2                  $0.158$    $0.601^{**}$
                                              (0.4078)        (0.2757)
$\delta_{2020}$ x occ group 3            $1.131^{***}$        $-0.132$
...                                                ...             ...
                                              (0.9205)        (1.2962)
$\delta_{2022}$ x occ group 5 x female  $-3.264^{***}$  $-2.267^{***}$
                                              (0.5104)        (0.7575)
N                                              250,030         250,030
Pseudo $R^2$                                    0.0442          0.0233

                                       Children younger than 10  \
                                                      25th pctl
$\delta_{2020}$ x occ group 1                    $-1.021^{***}$
                                                       (0.2144)
$\delta_{2020}$ x occ group 2                          $-0.067$
                                                       (0.1952)
$\delta_{2020}$ x occ group 3                     $1.129^{***}$
...                                                         ...
                                                       (0.3196)
$\delta_{2022}$ x occ group 5 x female           $-1.162^{***}$
                                                       (0.2947)
N                                                       273,851
Pseudo $R^2$                                             0.0451

                                                                       \
                                             50th pctl      75th pctl
$\delta_{2020}$ x occ group 1           $-1.011^{***}$      $0.432^*$
                                              (0.3093)       (0.2454)
$\delta_{2020}$ x occ group 2                  $0.143$  $0.673^{***}$
                                              (0.4201)       (0.2414)
$\delta_{2020}$ x occ group 3            $1.150^{***}$       $-0.152$
...                                                ...            ...
                                              (0.6893)       (1.4684)
$\delta_{2022}$ x occ group 5 x female  $-3.099^{***}$  $-2.203^{**}$
                                              (0.6606)       (0.9235)
N                                              273,851        273,851
Pseudo $R^2$                                    0.0515         0.0288

                                       Children younger than 15  \
                                                      25th pctl
$\delta_{2020}$ x occ group 1                    $-1.015^{***}$
                                                       (0.3071)
$\delta_{2020}$ x occ group 2                          $-0.069$
                                                       (0.1708)
$\delta_{2020}$ x occ group 3                     $1.131^{***}$
...                                                         ...
                                                       (0.4468)
$\delta_{2022}$ x occ group 5 x female           $-1.221^{***}$
                                                       (0.3878)
N                                                       277,937
Pseudo $R^2$                                             0.0452


                                             50th pctl     75th pctl
$\delta_{2020}$ x occ group 1            $-1.069^{**}$  $0.428^{**}$
                                              (0.4563)      (0.1795)
$\delta_{2020}$ x occ group 2                  $0.129$  $0.701^{**}$
                                              (0.5486)      (0.3289)
$\delta_{2020}$ x occ group 3            $1.148^{***}$    $-0.149^*$
...                                                ...           ...
                                              (0.7598)      (1.6560)
$\delta_{2022}$ x occ group 5 x female  $-3.124^{***}$    $-2.107^*$
                                              (0.6231)      (1.1310)
N                                              277,937       277,937
Pseudo $R^2$                                    0.0524        0.0296

[62 rows x 9 columns]

In [15]:
all_tabs = []

all_names = ['5','10','15']
formal_names = [ "Children younger than 5","Children younger than 10","Children younger than 15"]

for name in all_names:
    tab = Table.read('./regtabs/sqtreg_advanced_age3540_{}_controls.tex'.format(name)).to_pandas()
    tab = tab.set_index('col0')
    tab.rename(columns=dict(zip(tab.keys(),[i.replace('Parents,',"") for i in tab.keys()])),inplace=True)
    all_tabs.append(tab)
    
Btab = pd.concat(all_tabs,axis=1,keys=(formal_names))

Btab.index = [str(i).replace("nan","") for i in Btab.index]
Btab.to_latex('./tables/sqtreg_advanced_age3540_all_controls.tex',escape=False,column_format='l|ccc|ccc|ccc',multicolumn_format='c')
Btab

C:\Users\lafuentemart\AppData\Local\Temp\ipykernel_7808\2711105681.py:15: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  Btab.to_latex('./tables/sqtreg_advanced_age3540_all_controls.tex',escape=False,column_format='l|ccc|ccc|ccc',multicolumn_format='c')

                           Children younger than 5                  \
                                         25th pctl       50th pctl
$t$                                 $-0.014^{***}$  $-0.006^{***}$
                                          (0.0011)        (0.0023)
$t$ x female                         $0.020^{***}$   $0.043^{***}$
                                          (0.0018)        (0.0030)
unemployment rate x male             $0.036^{***}$   $0.025^{***}$
                                          (0.0033)        (0.0068)
unemployment rate x female           $0.046^{***}$  $-0.022^{***}$
                                          (0.0042)        (0.0049)
occ group 2                         $-0.609^{***}$   $0.248^{***}$
                                          (0.0883)        (0.0727)
occ group 3                         $-0.339^{***}$   $1.223^{***}$
                                          (0.1301)        (0.0866)
occ group 4                         $-2.464^{***}$  $-2.057^{***}$
                                          (0.0856)        (0.0651)
occ group 5                         $-3.942^{***}$  $-5.329^{***}$
                                          (0.0755)        (0.0786)
occ group 1 x female                       $0.021$    $0.247^{**}$
                                          (0.1312)        (0.1242)
occ group 2 x female                $-0.775^{***}$  $-0.446^{***}$
                                          (0.0898)        (0.1359)
occ group 3 x female                $-2.985^{***}$  $-3.710^{***}$
                                          (0.1157)        (0.1638)
occ group 4 x female                $-1.297^{***}$        $-0.215$
                                          (0.0825)        (0.2030)
occ group 5 x female                $-0.667^{***}$  $-0.997^{***}$
                                          (0.0553)        (0.1325)
$\beta_0$                            $4.342^{***}$   $8.504^{***}$
                                          (0.0846)        (0.1040)
N                                          250,030         250,030
Pseudo $R^2$                                0.0428          0.0442

                                           Children younger than 10  \
                                 75th pctl                25th pctl
$t$                         $-0.013^{***}$           $-0.013^{***}$
                                  (0.0019)                 (0.0008)
$t$ x female                 $0.023^{***}$            $0.017^{***}$
                                  (0.0027)                 (0.0016)
unemployment rate x male    $-0.018^{***}$            $0.034^{***}$
                                  (0.0063)                 (0.0025)
unemployment rate x female  $-0.077^{***}$            $0.049^{***}$
                                  (0.0038)                 (0.0039)
occ group 2                  $1.535^{***}$           $-0.638^{***}$
                                  (0.0594)                 (0.1266)
occ group 3                  $2.557^{***}$           $-0.549^{***}$
                                  (0.0776)                 (0.1096)
occ group 4                  $0.513^{***}$           $-2.577^{***}$
                                  (0.0478)                 (0.0885)
occ group 5                 $-3.028^{***}$           $-3.981^{***}$
                                  (0.1481)                 (0.0810)
occ group 1 x female         $1.131^{***}$                 $-0.037$
                                  (0.1047)                 (0.1093)
occ group 2 x female               $0.052$           $-0.943^{***}$
                                  (0.1256)                 (0.1298)
occ group 3 x female        $-1.759^{***}$           $-2.988^{***}$
                                  (0.1091)                 (0.0995)
occ group 4 x female         $0.897^{***}$           $-1.277^{***}$
                                  (0.1182)                 (0.0969)
occ group 5 x female        $-0.821^{***}$           $-0.641^{***}$
                                  (0.1514)                 (0.0574)
$\beta_0$                   $12.652^{***}$            $4.367^{***}$
                                  (0.1006)                 (0.0953)
N                                  250,030                  273,851
Pseudo $R^2$                        0.0233                   0.0451

                                                            \
                                 50th pctl       75th pctl
$t$                         $-0.009^{***}$  $-0.015^{***}$
                                  (0.0025)        (0.0016)
$t$ x female                 $0.046^{***}$   $0.029^{***}$
                                  (0.0038)        (0.0026)
unemployment rate x male     $0.030^{***}$  $-0.014^{***}$
                                  (0.0055)        (0.0046)
unemployment rate x female      $-0.009^*$  $-0.068^{***}$
                                  (0.0047)        (0.0050)
occ group 2                   $0.215^{**}$   $1.538^{***}$
                                  (0.0889)        (0.1102)
occ group 3                  $1.172^{***}$   $2.640^{***}$
                                  (0.0828)        (0.0749)
occ group 4                 $-2.276^{***}$   $0.380^{***}$
                                  (0.0576)        (0.0569)
occ group 5                 $-5.452^{***}$  $-3.266^{***}$
                                  (0.0686)        (0.1653)
occ group 1 x female              $-0.010$   $0.889^{***}$
                                  (0.0993)        (0.1206)
occ group 2 x female        $-0.779^{***}$        $-0.262$
                                  (0.1364)        (0.1802)
occ group 3 x female        $-4.545^{***}$  $-2.615^{***}$
                                  (0.1841)        (0.1390)
occ group 4 x female        $-1.026^{***}$         $0.194$
                                  (0.2285)        (0.2069)
occ group 5 x female        $-1.110^{***}$  $-1.308^{***}$
                                  (0.1580)        (0.2547)
$\beta_0$                    $8.515^{***}$  $12.699^{***}$
                                  (0.0614)        (0.0685)
N                                  273,851         273,851
Pseudo $R^2$                        0.0515          0.0288

                           Children younger than 15                  \
                                          25th pctl       50th pctl
$t$                                  $-0.013^{***}$  $-0.009^{***}$
                                           (0.0011)        (0.0027)
$t$ x female                          $0.016^{***}$   $0.045^{***}$
                                           (0.0021)        (0.0035)
unemployment rate x male              $0.034^{***}$   $0.029^{***}$
                                           (0.0034)        (0.0062)
unemployment rate x female            $0.049^{***}$        $-0.005$
                                           (0.0040)        (0.0045)
occ group 2                          $-0.629^{***}$         $0.219$
                                           (0.1015)        (0.0848)
occ group 3                          $-0.562^{***}$   $1.166^{***}$
                                           (0.1057)        (0.0662)
occ group 4                          $-2.568^{***}$  $-2.288^{***}$
                                           (0.0949)        (0.0894)
occ group 5                          $-3.972^{***}$  $-5.457^{***}$
                                           (0.0852)        (0.1075)
occ group 1 x female                        $0.018$        $-0.051$
                                           (0.1324)        (0.1439)
occ group 2 x female                 $-0.929^{***}$  $-0.882^{***}$
                                           (0.0698)        (0.1126)
occ group 3 x female                 $-2.955^{***}$  $-4.705^{***}$
                                           (0.0785)        (0.1229)
occ group 4 x female                 $-1.318^{***}$  $-1.222^{***}$
                                           (0.0813)        (0.1650)
occ group 5 x female                 $-0.586^{***}$  $-1.093^{***}$
                                           (0.0594)        (0.1301)
$\beta_0$                             $4.351^{***}$   $8.519^{***}$
                                           (0.0924)        (0.0953)
N                                           277,937         277,937
Pseudo $R^2$                                 0.0452          0.0524


                                 75th pctl
$t$                         $-0.015^{***}$
                                  (0.0018)
$t$ x female                 $0.030^{***}$
                                  (0.0023)
unemployment rate x male    $-0.016^{***}$
                                  (0.0038)
unemployment rate x female  $-0.067^{***}$
                                  (0.0037)
occ group 2                  $1.536^{***}$
                                  (0.0665)
occ group 3                  $2.637^{***}$
                                  (0.0486)
occ group 4                  $0.375^{***}$
                                  (0.0758)
occ group 5                 $-3.232^{***}$
                                  (0.1163)
occ group 1 x female         $0.803^{***}$
                                  (0.1516)
occ group 2 x female              $-0.368$
                                  (0.1430)
occ group 3 x female        $-2.840^{***}$
                                  (0.1223)
occ group 4 x female              $-0.082$
                                  (0.1865)
occ group 5 x female        $-1.415^{***}$
                                  (0.1963)
$\beta_0$                   $12.728^{***}$
                                  (0.1035)
N                                  277,937
Pseudo $R^2$                        0.0296

In [16]:
all_tabs = []

all_names = ['5','10','15']
formal_names = [ "Children younger than 5","Children younger than 10","Children younger than 15"]

for name in all_names:
    tab = Table.read('./regtabs/sqtreg_advanced_age3035_{}_controls.tex'.format(name)).to_pandas()
    tab = tab.set_index('col0')
    tab.rename(columns=dict(zip(tab.keys(),[i.replace('Parents,',"") for i in tab.keys()])),inplace=True)
    all_tabs.append(tab)
    
Btab = pd.concat(all_tabs,axis=1,keys=(formal_names))

Btab.index = [str(i).replace("nan","") for i in Btab.index]
Btab.to_latex('./tables/sqtreg_advanced_age3035_all_controls.tex',escape=False,column_format='l|ccc|ccc|ccc',multicolumn_format='c')
Btab

C:\Users\lafuentemart\AppData\Local\Temp\ipykernel_7808\2287887052.py:15: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  Btab.to_latex('./tables/sqtreg_advanced_age3035_all_controls.tex',escape=False,column_format='l|ccc|ccc|ccc',multicolumn_format='c')

                           Children younger than 5                  \
                                         25th pctl       50th pctl
$t$                                 $-0.008^{***}$  $-0.009^{***}$
                                          (0.0011)        (0.0019)
$t$ x female                         $0.005^{***}$   $0.027^{***}$
                                          (0.0014)        (0.0030)
unemployment rate x male             $0.035^{***}$   $0.072^{***}$
                                          (0.0029)        (0.0057)
unemployment rate x female           $0.062^{***}$   $0.061^{***}$
                                          (0.0032)        (0.0060)
occ group 2                          $-0.218^{**}$   $0.574^{***}$
                                          (0.0985)        (0.1160)
occ group 3                         $-0.659^{***}$   $0.435^{***}$
                                          (0.1004)        (0.1614)
occ group 4                         $-1.407^{***}$  $-0.954^{***}$
                                          (0.0655)        (0.1003)
occ group 5                         $-2.324^{***}$  $-3.404^{***}$
                                          (0.0621)        (0.1227)
occ group 1 x female                      $-0.105$         $0.229$
                                          (0.1055)        (0.1485)
occ group 2 x female                $-0.725^{***}$  $-0.755^{***}$
                                          (0.0905)        (0.1265)
occ group 3 x female                $-1.347^{***}$  $-1.943^{***}$
                                          (0.1028)        (0.1240)
occ group 4 x female                $-0.684^{***}$         $0.051$
                                          (0.0922)        (0.2154)
occ group 5 x female                $-0.506^{***}$  $-0.704^{***}$
                                          (0.0460)        (0.0771)
$\beta_0$                            $2.428^{***}$   $4.636^{***}$
                                          (0.0662)        (0.1192)
N                                          130,977         130,977
Pseudo $R^2$                                0.0353          0.0426

                                           Children younger than 10  \
                                 75th pctl                25th pctl
$t$                          $0.018^{***}$           $-0.008^{***}$
                                  (0.0017)                 (0.0011)
$t$ x female                 $0.017^{***}$            $0.005^{***}$
                                  (0.0024)                 (0.0012)
unemployment rate x male     $0.021^{***}$            $0.035^{***}$
                                  (0.0061)                 (0.0028)
unemployment rate x female   $0.015^{***}$            $0.061^{***}$
                                  (0.0050)                 (0.0029)
occ group 2                  $1.469^{***}$            $-0.208^{**}$
                                  (0.0901)                 (0.0951)
occ group 3                  $1.779^{***}$           $-0.668^{***}$
                                  (0.1294)                 (0.0946)
occ group 4                  $1.170^{***}$           $-1.430^{***}$
                                  (0.0810)                 (0.0516)
occ group 5                 $-2.087^{***}$           $-2.323^{***}$
                                  (0.1926)                 (0.0682)
occ group 1 x female          $0.204^{**}$                 $-0.078$
                                  (0.0999)                 (0.1070)
occ group 2 x female        $-1.002^{***}$           $-0.769^{***}$
                                  (0.0777)                 (0.0933)
occ group 3 x female        $-1.479^{***}$           $-1.387^{***}$
                                  (0.1299)                 (0.0969)
occ group 4 x female            $-0.237^*$           $-0.730^{***}$
                                  (0.1212)                 (0.0826)
occ group 5 x female        $-0.966^{***}$           $-0.472^{***}$
                                  (0.1733)                 (0.0614)
$\beta_0$                    $7.505^{***}$            $2.423^{***}$
                                  (0.0994)                 (0.0626)
N                                  130,977                  136,192
Pseudo $R^2$                        0.0291                   0.0355

                                                            \
                                 50th pctl       75th pctl
$t$                         $-0.009^{***}$   $0.020^{***}$
                                  (0.0027)        (0.0021)
$t$ x female                 $0.028^{***}$   $0.017^{***}$
                                  (0.0031)        (0.0023)
unemployment rate x male     $0.074^{***}$    $0.017^{**}$
                                  (0.0070)        (0.0070)
unemployment rate x female   $0.065^{***}$   $0.020^{***}$
                                  (0.0038)        (0.0050)
occ group 2                  $0.579^{***}$   $1.492^{***}$
                                  (0.0957)        (0.0905)
occ group 3                  $0.417^{***}$   $1.789^{***}$
                                  (0.0973)        (0.0962)
occ group 4                 $-1.034^{***}$   $1.107^{***}$
                                  (0.0705)        (0.0706)
occ group 5                 $-3.403^{***}$  $-2.117^{***}$
                                  (0.0773)        (0.1200)
occ group 1 x female               $0.120$         $0.071$
                                  (0.1261)        (0.1536)
occ group 2 x female        $-0.878^{***}$  $-1.191^{***}$
                                  (0.1500)        (0.1584)
occ group 3 x female        $-2.172^{***}$  $-1.788^{***}$
                                  (0.1511)        (0.1895)
occ group 4 x female         $-0.452^{**}$  $-0.733^{***}$
                                  (0.2214)        (0.1992)
occ group 5 x female        $-0.745^{***}$  $-1.126^{***}$
                                  (0.1294)        (0.2381)
$\beta_0$                    $4.612^{***}$   $7.542^{***}$
                                  (0.1015)        (0.1028)
N                                  136,192         136,192
Pseudo $R^2$                        0.0446          0.0306

                           Children younger than 15                  \
                                          25th pctl       50th pctl
$t$                                  $-0.008^{***}$  $-0.009^{***}$
                                           (0.0011)        (0.0023)
$t$ x female                          $0.005^{***}$   $0.029^{***}$
                                           (0.0014)        (0.0038)
unemployment rate x male              $0.035^{***}$   $0.075^{***}$
                                           (0.0033)        (0.0049)
unemployment rate x female            $0.061^{***}$   $0.065^{***}$
                                           (0.0029)        (0.0050)
occ group 2                          $-0.212^{***}$   $0.576^{***}$
                                           (0.0795)        (0.0948)
occ group 3                          $-0.655^{***}$   $0.396^{***}$
                                           (0.0942)        (0.1109)
occ group 4                          $-1.430^{***}$  $-1.024^{***}$
                                           (0.0444)        (0.0885)
occ group 5                          $-2.322^{***}$  $-3.384^{***}$
                                           (0.0529)        (0.1062)
occ group 1 x female                       $-0.078$         $0.122$
                                           (0.0827)        (0.1031)
occ group 2 x female                 $-0.765^{***}$  $-0.874^{***}$
                                           (0.0832)        (0.1023)
occ group 3 x female                 $-1.394^{***}$  $-2.128^{***}$
                                           (0.0966)        (0.1353)
occ group 4 x female                 $-0.730^{***}$   $-0.471^{**}$
                                           (0.0746)        (0.2214)
occ group 5 x female                 $-0.473^{***}$  $-0.761^{***}$
                                           (0.0482)        (0.1203)
$\beta_0$                             $2.423^{***}$   $4.611^{***}$
                                           (0.0579)        (0.0770)
N                                           136,505         136,505
Pseudo $R^2$                                 0.0354          0.0445


                                 75th pctl
$t$                          $0.020^{***}$
                                  (0.0017)
$t$ x female                 $0.017^{***}$
                                  (0.0031)
unemployment rate x male     $0.017^{***}$
                                  (0.0064)
unemployment rate x female   $0.019^{***}$
                                  (0.0058)
occ group 2                  $1.500^{***}$
                                  (0.1029)
occ group 3                  $1.782^{***}$
                                  (0.1269)
occ group 4                  $1.108^{***}$
                                  (0.0925)
occ group 5                 $-2.111^{***}$
                                  (0.1508)
occ group 1 x female               $0.078$
                                  (0.1644)
occ group 2 x female        $-1.194^{***}$
                                  (0.1733)
occ group 3 x female        $-1.782^{***}$
                                  (0.1917)
occ group 4 x female        $-0.763^{***}$
                                  (0.2780)
occ group 5 x female        $-1.144^{***}$
                                  (0.2335)
$\beta_0$                    $7.550^{***}$
                                  (0.1021)
N                                  136,505
Pseudo $R^2$                        0.0306

In [20]:
all_tabs = []

all_names = ['mothers_age3040_10','mothers0k_age3040']
formal_names = [ "Mothers","Women without Children"]

for name in all_names:
    tab = Table.read('./regtabs/sqtreg_figure6_{}_agefix.tex'.format(name)).to_pandas()
    tab = tab.set_index('col0')
    tab.rename(columns=dict(zip(tab.keys(),[i.replace('Parents,',"") for i in tab.keys()])),inplace=True)
    all_tabs.append(tab)
    
Btab = pd.concat(all_tabs,axis=1,keys=(formal_names))

Btab.index = [str(i).replace("nan","") for i in Btab.index]
Btab.to_latex('./tables/sqtreg_figure6_allwomen_age3040_10_agefix.tex',escape=False,column_format='l|ccc|ccc',multicolumn_format='c')
Btab

C:\Users\lafuentemart\AppData\Local\Temp\ipykernel_7808\1840227655.py:15: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  Btab.to_latex('./tables/sqtreg_figure6_allwomen_age3040_10_agefix.tex',escape=False,column_format='l|ccc|ccc',multicolumn_format='c')

                                               Mothers                  \
                                             25th pctl       50th pctl
Tenure Partner                           $0.098^{***}$   $0.191^{***}$
                                              (0.0019)        (0.0027)
$t$                                      $0.035^{***}$   $0.047^{***}$
                                              (0.0038)        (0.0057)
$t^2$                                   $-0.001^{***}$  $-0.001^{***}$
                                              (0.0001)        (0.0001)
$t$ x female                             $0.038^{***}$        $-0.011$
                                              (0.0054)        (0.0081)
$t^2$ x female                          $-0.000^{***}$   $0.001^{***}$
                                              (0.0001)        (0.0002)
$\delta_{2020}$                          $0.362^{***}$        $-0.180$
                                              (0.0734)        (0.1572)
$\delta_{2021}$                          $0.718^{***}$         $0.152$
                                              (0.1488)        (0.2225)
$\delta_{2022}$                          $1.113^{***}$         $0.149$
                                              (0.1481)        (0.3122)
female                                  $-0.855^{***}$  $-1.173^{***}$
                                              (0.0659)        (0.0992)
$\delta_{2020}$ x female                $-0.311^{***}$   $-0.650^{**}$
                                              (0.0975)        (0.2757)
$\delta_{2021}$ x female                $-0.611^{***}$  $-1.781^{***}$
                                              (0.1442)        (0.3221)
$\delta_{2022}$ x female                $-0.852^{***}$  $-2.220^{***}$
                                              (0.1743)        (0.4224)
Part time x male                        $-1.817^{***}$  $-4.008^{***}$
                                              (0.0472)        (0.0849)
Part time x female                      $-0.913^{***}$  $-1.389^{***}$
                                              (0.0224)        (0.0524)
College x male                           $1.063^{***}$   $0.563^{***}$
                                              (0.0362)        (0.0453)
College x female                         $1.422^{***}$   $1.737^{***}$
                                              (0.0312)        (0.0324)
Less than High-school x male            $-0.760^{***}$  $-1.931^{***}$
                                              (0.0686)        (0.1088)
Less than High-school x female          $-0.423^{***}$  $-1.479^{***}$
                                              (0.0351)        (0.0625)
Partner self-employed x male                   $0.010$        $-0.024$
                                              (0.0574)        (0.0730)
Partner self-employed x female                $-0.015$   $0.174^{***}$
                                              (0.0315)        (0.0447)
Partner college x male                   $0.699^{***}$   $0.867^{***}$
                                              (0.0423)        (0.0573)
Partner college x female                 $0.599^{***}$   $0.494^{***}$
                                              (0.0329)        (0.0395)
Partner less than High-school x male    $-0.255^{***}$  $-0.838^{***}$
                                              (0.0431)        (0.0983)
Partner less than High-school x female  $-0.392^{***}$  $-1.044^{***}$
                                              (0.0417)        (0.0799)
Age $>$ 35                               $0.698^{***}$   $1.893^{***}$
                                              (0.0216)        (0.0375)
$\beta_0$                                $0.794^{***}$   $3.444^{***}$
                                              (0.0412)        (0.0671)
N                                              315,275         315,275
Pseudo $R^2$                                    0.0467          0.0689

                                                       Women without Children  \
                                             75th pctl              25th pctl
Tenure Partner                           $0.174^{***}$          $0.073^{***}$
                                              (0.0022)               (0.0024)
$t$                                     $-0.026^{***}$          $0.047^{***}$
                                              (0.0067)               (0.0033)
$t^2$                                    $0.000^{***}$         $-0.001^{***}$
                                              (0.0001)               (0.0001)
$t$ x female                                  $-0.002$                $0.005$
                                              (0.0093)               (0.0052)
$t^2$ x female                            $0.000^{**}$               $-0.000$
                                              (0.0002)               (0.0001)
$\delta_{2020}$                               $-0.008$          $0.414^{***}$
                                              (0.1305)               (0.0862)
$\delta_{2021}$                              $0.374^*$          $0.848^{***}$
                                              (0.1987)               (0.0894)
$\delta_{2022}$                               $-0.099$          $0.880^{***}$
                                              (0.2636)               (0.0862)
female                                  $-1.337^{***}$               $-0.060$
                                              (0.1165)               (0.0717)
$\delta_{2020}$ x female                    $-0.330^*$             $-0.215^*$
                                              (0.1946)               (0.1233)
$\delta_{2021}$ x female                $-1.479^{***}$          $-0.267^{**}$
                                              (0.2434)               (0.1214)
$\delta_{2022}$ x female                $-1.613^{***}$               $-0.127$
                                              (0.3525)               (0.1409)
Part time x male                        $-4.375^{***}$         $-1.540^{***}$
                                              (0.1895)               (0.0445)
Part time x female                      $-1.055^{***}$         $-1.208^{***}$
                                              (0.0443)               (0.0342)
College x male                          $-1.182^{***}$          $0.384^{***}$
                                              (0.0437)               (0.0284)
College x female                               $0.045$          $0.425^{***}$
                                              (0.0398)               (0.0374)
Less than High-school x male            $-2.573^{***}$         $-0.585^{***}$
                                              (0.2153)               (0.0759)
Less than High-school x female          $-2.946^{***}$         $-0.625^{***}$
                                              (0.1399)               (0.0884)
Partner self-employed x male             $0.296^{***}$               $-0.079$
                                              (0.0873)               (0.0716)
Partner self-employed x female           $0.203^{***}$               $-0.002$
                                              (0.0458)               (0.0310)
Partner college x male                   $0.288^{***}$          $0.457^{***}$
                                              (0.0467)               (0.0384)
Partner college x female                      $-0.047$               $-0.012$
                                              (0.0479)               (0.0321)
Partner less than High-school x male    $-1.821^{***}$         $-0.360^{***}$
                                              (0.1849)               (0.1141)
Partner less than High-school x female  $-1.786^{***}$         $-0.345^{***}$
                                              (0.1297)               (0.0699)
Age $>$ 35                               $3.103^{***}$          $0.479^{***}$
                                              (0.0353)               (0.0232)
$\beta_0$                                $9.162^{***}$          $0.761^{***}$
                                              (0.0989)               (0.0432)
N                                              315,275                132,124
Pseudo $R^2$                                    0.0696                 0.0273


                                             50th pctl       75th pctl
Tenure Partner                           $0.155^{***}$   $0.163^{***}$
                                              (0.0037)        (0.0059)
$t$                                      $0.049^{***}$         $0.000$
                                              (0.0066)        (0.0074)
$t^2$                                   $-0.001^{***}$         $0.000$
                                              (0.0001)        (0.0001)
$t$ x female                                   $0.010$         $0.008$
                                              (0.0108)        (0.0108)
$t^2$ x female                                $-0.000$        $-0.000$
                                              (0.0002)        (0.0002)
$\delta_{2020}$                               $-0.219$      $-0.329^*$
                                              (0.1972)        (0.1996)
$\delta_{2021}$                                $0.151$        $-0.292$
                                              (0.2407)        (0.3211)
$\delta_{2022}$                                $0.098$  $-0.866^{***}$
                                              (0.2199)        (0.2747)
female                                  $-0.720^{***}$  $-1.370^{***}$
                                              (0.1592)        (0.1779)
$\delta_{2020}$ x female                      $-0.320$   $-0.675^{**}$
                                              (0.2184)        (0.2811)
$\delta_{2021}$ x female                      $-0.452$        $-0.632$
                                              (0.3004)        (0.4757)
$\delta_{2022}$ x female                    $-0.384^*$   $-0.901^{**}$
                                              (0.2236)        (0.4135)
Part time x male                        $-3.536^{***}$  $-4.569^{***}$
                                              (0.0714)        (0.1898)
Part time x female                      $-2.424^{***}$  $-2.890^{***}$
                                              (0.0556)        (0.0910)
College x male                                $-0.092$  $-1.567^{***}$
                                              (0.0614)        (0.0815)
College x female                         $0.493^{***}$  $-0.502^{***}$
                                              (0.0602)        (0.0899)
Less than High-school x male            $-1.291^{***}$  $-1.336^{***}$
                                              (0.1583)        (0.3433)
Less than High-school x female          $-1.078^{***}$  $-2.171^{***}$
                                              (0.2033)        (0.2917)
Partner self-employed x male                   $0.056$    $0.278^{**}$
                                              (0.0996)        (0.1092)
Partner self-employed x female           $-0.144^{**}$        $-0.069$
                                              (0.0664)        (0.0895)
Partner college x male                   $0.636^{***}$   $0.238^{***}$
                                              (0.0763)        (0.0744)
Partner college x female                      $-0.137$  $-0.469^{***}$
                                              (0.0533)        (0.0543)
Partner less than High-school x male    $-0.782^{***}$  $-2.009^{***}$
                                              (0.1398)        (0.3262)
Partner less than High-school x female        $-0.289$         $0.052$
                                              (0.1806)        (0.2214)
Age $>$ 35                               $1.729^{***}$   $2.997^{***}$
                                              (0.0305)        (0.0575)
$\beta_0$                                $3.281^{***}$   $8.182^{***}$
                                              (0.0779)        (0.1090)
N                                              132,124         132,124
Pseudo $R^2$                                    0.0515          0.0858

In [21]:
all_tabs = []

all_names = ['mothers_age3040_10','mothers0k_age3040']
formal_names = [ "Mothers","Women without Children"]

for name in all_names:
    tab = Table.read('./regtabs/sqtreg_figure5_{}_agefix.tex'.format(name)).to_pandas()
    tab = tab.set_index('col0')
    tab.rename(columns=dict(zip(tab.keys(),[i.replace('Parents,',"") for i in tab.keys()])),inplace=True)
    all_tabs.append(tab)
    
Btab = pd.concat(all_tabs,axis=1,keys=(formal_names))

Btab.index = [str(i).replace("nan","") for i in Btab.index]
Btab.to_latex('./tables/ssqtreg_figure5_allwomen_age3040_10_agefix.tex',escape=False,column_format='l|ccc|ccc',multicolumn_format='c')
Btab

C:\Users\lafuentemart\AppData\Local\Temp\ipykernel_7808\547750710.py:15: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  Btab.to_latex('./tables/ssqtreg_figure5_allwomen_age3040_10_agefix.tex',escape=False,column_format='l|ccc|ccc',multicolumn_format='c')

                                      Mothers                                  \
                                    25th pctl       50th pctl       75th pctl
$\beta_0$                       $0.640^{***}$   $3.000^{***}$   $6.403^{***}$
                                     (0.0652)        (0.1387)        (0.1970)
Tenure Partner                  $0.191^{***}$   $0.319^{***}$   $0.197^{***}$
                                     (0.0056)        (0.0076)        (0.0089)
Tenure \ Partner$^{2}$         $-0.006^{***}$  $-0.007^{***}$  $-0.002^{***}$
                                     (0.0003)        (0.0003)        (0.0004)
Part Time                      $-0.920^{***}$  $-1.388^{***}$  $-1.048^{***}$
                                     (0.0203)        (0.0398)        (0.0340)
College                         $1.378^{***}$   $1.734^{***}$    $0.074^{**}$
                                     (0.0402)        (0.0395)        (0.0340)
Less than High-school          $-0.398^{***}$  $-1.375^{***}$  $-2.987^{***}$
                                     (0.0479)        (0.0789)        (0.1651)
Partner age                    $-0.012^{***}$  $-0.019^{***}$   $0.042^{***}$
                                     (0.0018)        (0.0039)        (0.0054)
Partner self-employed                 $0.026$   $0.225^{***}$   $0.190^{***}$
                                     (0.0325)        (0.0413)        (0.0416)
Partner College                 $0.528^{***}$   $0.366^{***}$   $-0.075^{**}$
                                     (0.0376)        (0.0348)        (0.0361)
Partner less than High-school  $-0.364^{***}$  $-0.974^{***}$  $-1.793^{***}$
                                     (0.0257)        (0.0741)        (0.1326)
$\delta_{2008-2011}$            $0.245^{***}$        $-0.040$  $-0.350^{***}$
                                     (0.0289)        (0.0577)        (0.0686)
$\delta_{2011-2014}$            $1.016^{***}$   $0.694^{***}$   $-0.156^{**}$
                                     (0.0349)        (0.0609)        (0.0644)
$\delta_{2014-2017}$            $1.096^{***}$   $1.308^{***}$   $0.416^{***}$
                                     (0.0503)        (0.0523)        (0.0434)
$\delta_{2017-2020}$            $0.372^{***}$   $1.297^{***}$   $0.692^{***}$
                                     (0.0455)        (0.0721)        (0.0572)
$\delta_{2020}$                 $0.281^{***}$   $0.836^{***}$   $0.886^{***}$
                                     (0.0567)        (0.0922)        (0.0871)
$\delta_{2021}$                       $0.059$         $0.159$   $0.433^{***}$
                                     (0.0685)        (0.1400)        (0.0746)
$\delta_{2022}$                      $-0.008$   $-0.249^{**}$         $0.080$
                                     (0.0611)        (0.1182)        (0.1355)
Age $>$ 35                      $0.758^{***}$   $1.957^{***}$   $3.006^{***}$
                                     (0.0181)        (0.0261)        (0.0480)
N                                     183,530         183,530         183,530
Pseudo $R^2$                           0.0539          0.0778          0.0753

                              Women without Children                  \
                                           25th pctl       50th pctl
$\beta_0$                              $0.913^{***}$   $2.971^{***}$
                                            (0.1327)        (0.1810)
Tenure Partner                         $0.144^{***}$   $0.271^{***}$
                                            (0.0053)        (0.0113)
Tenure \ Partner$^{2}$                $-0.005^{***}$  $-0.008^{***}$
                                            (0.0002)        (0.0005)
Part Time                             $-1.230^{***}$  $-2.434^{***}$
                                            (0.0367)        (0.0525)
College                                $0.429^{***}$   $0.493^{***}$
                                            (0.0349)        (0.0537)
Less than High-school                 $-0.607^{***}$  $-1.015^{***}$
                                            (0.1086)        (0.2093)
Partner age                                 $-0.001$        $-0.002$
                                            (0.0032)        (0.0050)
Partner self-employed                       $-0.007$   $-0.126^{**}$
                                            (0.0363)        (0.0549)
Partner College                        $-0.062^{**}$  $-0.242^{***}$
                                            (0.0248)        (0.0388)
Partner less than High-school         $-0.345^{***}$        $-0.187$
                                            (0.1022)        (0.1904)
$\delta_{2008-2011}$                   $0.173^{***}$        $-0.074$
                                            (0.0619)        (0.0629)
$\delta_{2011-2014}$                   $0.626^{***}$   $0.604^{***}$
                                            (0.0539)        (0.0679)
$\delta_{2014-2017}$                   $0.396^{***}$   $0.886^{***}$
                                            (0.0524)        (0.0837)
$\delta_{2017-2020}$                   $-0.099^{**}$         $0.068$
                                            (0.0471)        (0.0839)
$\delta_{2020}$                        $-0.204^{**}$  $-0.528^{***}$
                                            (0.0807)        (0.1289)
$\delta_{2021}$                             $-0.042$  $-0.559^{***}$
                                            (0.0890)        (0.1450)
$\delta_{2022}$                        $-0.139^{**}$  $-0.764^{***}$
                                            (0.0706)        (0.0859)
Age $>$ 35                             $0.604^{***}$   $1.829^{***}$
                                            (0.0317)        (0.0556)
N                                             64,856          64,856
Pseudo $R^2$                                  0.0330          0.0602


                                    75th pctl
$\beta_0$                       $5.860^{***}$
                                     (0.2484)
Tenure Partner                  $0.242^{***}$
                                     (0.0144)
Tenure \ Partner$^{2}$         $-0.006^{***}$
                                     (0.0008)
Part Time                      $-2.892^{***}$
                                     (0.0900)
College                        $-0.490^{***}$
                                     (0.0591)
Less than High-school          $-2.364^{***}$
                                     (0.3792)
Partner age                     $0.032^{***}$
                                     (0.0074)
Partner self-employed                $-0.058$
                                     (0.0760)
Partner College                $-0.545^{***}$
                                     (0.0561)
Partner less than High-school         $0.026$
                                     (0.3097)
$\delta_{2008-2011}$            $-0.172^{**}$
                                     (0.0825)
$\delta_{2011-2014}$            $0.251^{***}$
                                     (0.0777)
$\delta_{2014-2017}$            $0.595^{***}$
                                     (0.0660)
$\delta_{2017-2020}$            $0.487^{***}$
                                     (0.1017)
$\delta_{2020}$                    $-0.278^*$
                                     (0.1655)
$\delta_{2021}$                       $0.006$
                                     (0.2191)
$\delta_{2022}$                $-0.772^{***}$
                                     (0.1733)
Age $>$ 35                      $2.836^{***}$
                                     (0.0775)
N                                      64,856
Pseudo $R^2$                           0.0866

In [22]:
all_tabs = []

all_names = ['fathers_age3040_10','fathers0k_age3040']
formal_names = [ "Fathers","Men without Children"]

for name in all_names:
    tab = Table.read('./regtabs/sqtreg_figure5_{}_agefix.tex'.format(name)).to_pandas()
    tab = tab.set_index('col0')
    tab.rename(columns=dict(zip(tab.keys(),[i.replace('Parents,',"") for i in tab.keys()])),inplace=True)
    all_tabs.append(tab)
    
Btab = pd.concat(all_tabs,axis=1,keys=(formal_names))

Btab.index = [str(i).replace("nan","") for i in Btab.index]
Btab.to_latex('./tables/ssqtreg_figure5_allmen_age3040_10_agefix.tex',escape=False,column_format='l|ccc|ccc',multicolumn_format='c')
Btab

C:\Users\lafuentemart\AppData\Local\Temp\ipykernel_7808\4132090700.py:15: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  Btab.to_latex('./tables/ssqtreg_figure5_allmen_age3040_10_agefix.tex',escape=False,column_format='l|ccc|ccc',multicolumn_format='c')

                                      Fathers                                  \
                                    25th pctl       50th pctl       75th pctl
$\beta_0$                            $-0.212$   $1.516^{***}$   $6.298^{***}$
                                     (0.1490)        (0.2298)        (0.2888)
Tenure Partner                  $0.246^{***}$   $0.320^{***}$   $0.118^{***}$
                                     (0.0132)        (0.0173)        (0.0192)
Tenure \ Partner$^{2}$         $-0.007^{***}$  $-0.005^{***}$   $0.004^{***}$
                                     (0.0009)        (0.0010)        (0.0011)
Part Time                      $-1.873^{***}$  $-3.817^{***}$  $-4.302^{***}$
                                     (0.0510)        (0.0722)        (0.1856)
College                         $0.966^{***}$   $0.460^{***}$  $-1.225^{***}$
                                     (0.0441)        (0.0548)        (0.0564)
Less than High-school          $-0.653^{***}$  $-1.727^{***}$  $-2.587^{***}$
                                     (0.0582)        (0.1165)        (0.2020)
Partner age                     $0.032^{***}$   $0.061^{***}$   $0.096^{***}$
                                     (0.0050)        (0.0080)        (0.0087)
Partner self-employed                $-0.019$        $-0.020$   $0.298^{***}$
                                     (0.0697)        (0.0993)        (0.0742)
Partner College                 $0.576^{***}$   $0.729^{***}$   $0.215^{***}$
                                     (0.0450)        (0.0666)        (0.0579)
Partner less than High-school  $-0.190^{***}$  $-0.804^{***}$  $-1.822^{***}$
                                     (0.0565)        (0.1414)        (0.1748)
$\delta_{2008-2011}$                 $-0.069$         $0.041$  $-0.202^{***}$
                                     (0.0518)        (0.0615)        (0.0729)
$\delta_{2011-2014}$            $0.443^{***}$   $0.536^{***}$        $-0.118$
                                     (0.0514)        (0.0718)        (0.0719)
$\delta_{2014-2017}$            $-0.111^{**}$   $0.315^{***}$  $-0.216^{***}$
                                     (0.0515)        (0.0764)        (0.0713)
$\delta_{2017-2020}$           $-0.401^{***}$         $0.102$        $-0.085$
                                     (0.0490)        (0.0908)        (0.0892)
$\delta_{2020}$                $-0.337^{***}$      $-0.267^*$         $0.128$
                                     (0.0741)        (0.1389)        (0.1062)
$\delta_{2021}$                 $-0.172^{**}$        $-0.120$   $0.564^{***}$
                                     (0.0803)        (0.1575)        (0.1302)
$\delta_{2022}$                       $0.004$        $-0.206$         $0.230$
                                     (0.0883)        (0.1413)        (0.1431)
Age $>$ 35                      $0.585^{***}$   $1.766^{***}$   $2.696^{***}$
                                     (0.0389)        (0.0586)        (0.0712)
N                                     131,745         131,745         131,745
Pseudo $R^2$                           0.0428          0.0619          0.0628

                              Men without Children                  \
                                         25th pctl       50th pctl
$\beta_0$                            $1.177^{***}$   $4.158^{***}$
                                          (0.1157)        (0.1985)
Tenure Partner                       $0.236^{***}$   $0.369^{***}$
                                          (0.0078)        (0.0126)
Tenure \ Partner$^{2}$              $-0.008^{***}$  $-0.009^{***}$
                                          (0.0005)        (0.0013)
Part Time                           $-1.489^{***}$  $-3.294^{***}$
                                          (0.0425)        (0.0722)
College                              $0.378^{***}$        $-0.111$
                                          (0.0528)        (0.0755)
Less than High-school               $-0.411^{***}$  $-1.071^{***}$
                                          (0.0831)        (0.1900)
Partner age                         $-0.019^{***}$  $-0.038^{***}$
                                          (0.0036)        (0.0072)
Partner self-employed                     $-0.085$         $0.037$
                                          (0.0529)        (0.1526)
Partner College                      $0.387^{***}$   $0.565^{***}$
                                          (0.0410)        (0.0630)
Partner less than High-school       $-0.253^{***}$  $-0.727^{***}$
                                          (0.0911)        (0.1881)
$\delta_{2008-2011}$                 $0.322^{***}$        $-0.049$
                                          (0.0626)        (0.0920)
$\delta_{2011-2014}$                 $0.686^{***}$   $0.513^{***}$
                                          (0.0518)        (0.0915)
$\delta_{2014-2017}$                       $0.095$   $0.567^{***}$
                                          (0.0624)        (0.1098)
$\delta_{2017-2020}$                    $-0.124^*$        $-0.117$
                                          (0.0664)        (0.0959)
$\delta_{2020}$                           $-0.052$  $-0.422^{***}$
                                          (0.0738)        (0.1080)
$\delta_{2021}$                            $0.102$      $-0.335^*$
                                          (0.0753)        (0.1755)
$\delta_{2022}$                           $-0.039$   $-0.364^{**}$
                                          (0.0928)        (0.1674)
Age $>$ 35                           $0.466^{***}$   $1.846^{***}$
                                          (0.0432)        (0.0694)
N                                           67,268          67,268
Pseudo $R^2$                                0.0290          0.0493


                                    75th pctl
$\beta_0$                       $8.477^{***}$
                                     (0.3049)
Tenure Partner                  $0.225^{***}$
                                     (0.0193)
Tenure \ Partner$^{2}$               $-0.001$
                                     (0.0011)
Part Time                      $-4.524^{***}$
                                     (0.1460)
College                        $-1.546^{***}$
                                     (0.0873)
Less than High-school          $-1.281^{***}$
                                     (0.3163)
Partner age                          $-0.019$
                                     (0.0117)
Partner self-employed            $0.346^{**}$
                                     (0.1514)
Partner College                 $0.245^{***}$
                                     (0.0918)
Partner less than High-school  $-1.949^{***}$
                                     (0.2744)
$\delta_{2008-2011}$                 $-0.143$
                                     (0.1092)
$\delta_{2011-2014}$                  $0.117$
                                     (0.1125)
$\delta_{2014-2017}$            $0.322^{***}$
                                     (0.0894)
$\delta_{2017-2020}$            $0.399^{***}$
                                     (0.1172)
$\delta_{2020}$                       $0.217$
                                     (0.2285)
$\delta_{2021}$                     $0.329^*$
                                     (0.1782)
$\delta_{2022}$                      $-0.053$
                                     (0.1828)
Age $>$ 35                      $3.091^{***}$
                                     (0.0718)
N                                      67,268
Pseudo $R^2$                           0.0773